<전체>
  <사용자_정보>
    <사용자_이름>
    </사용자_이름>
    <사용자_권한>
    </사용자_권한>
    <사용시작시간>
    </사용시작시간>
    <사용종료시간>2023년 01월 11일 13시 53분 41초</사용종료시간>
  </사용자_정보>
  <카메라_정보>
    <카메라1_IP주소>169.254.94.182</카메라1_IP주소>
    <카메라2_IP주소>169.254.89.182</카메라2_IP주소>
    <카메라3_IP주소>169.254.95.182</카메라3_IP주소>
  </카메라_정보>
</전체>